/*** generic rules ***/
body{
	background-color: #F0FAFF;
}
/*** main game board ***/
.game-board {
	height: 100%;
}
.game-board_computer {
	display: none;
}
.game-board li{
	list-style: none;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	display: inline-block;
}
.choices{
	padding: 0px;
	text-align: center;
	margin-top: 5%;
}
.play-again{
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	margin-left: -112px;
}
.game-board_player1{
	text-align: center;
}
.start-game-panel{
	height: 100%;
	background-color: #F0FAFF;
	position: absolute;
	z-index: 999;
	width: 100%;
}
.header-player,
.header-computer{
	display: none;
	text-align: center;
}
.result{
	text-align: center;
}
.game-board_player2{
	text-align: center;
}
.countdown{
	text-align: center;
	border: 3px solid;
	border-radius: 85px;
	width: 170px;
	height: 170px;
	text-align: center;
	vertical-align: middle;
	padding-top: 58px;
	margin-top: 21px;
	margin:auto;
	display: none;
}
/*** starting game board (Game Mode selection - welcome screen) ***/
.start-game{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -112px;
}
.start-game{
	display: none;
}
.choose-game{
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	height: 50%;
}
.game-mode{
	margin-top: 40px;
}