/*** generic global rules ***/
body{
	background-color: #F0FAFF;
	font-family: 'Indie Flower', cursive;
}
h1,
h2,
h3{
	margin: 0 auto;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 1.7em;
}
.button-v1{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.button-v2{
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.button-v3{
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
/* bootstrap code fur buttons*/
.button{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 1em;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
/*** main game board ***/

/* hide the play again button if the game mode is a computer vs player **/
.player-vs-computer-game .play-again-same-game{
	display: none;
}
/* hide the buttons panel again button if the game mode is a computer vs computer **/
.computer-vs-computer-game .choices{
	display: none;
}
.computer-vs-computer-game .play-again-same-game{
	display: block;
}
.play-again,
.play-again-same-game{
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}
.game-title{
	font-size: 2em;
}
.game-board {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin: auto;
	margin-top: 50px;
}
.game-board_computer {
	display: none;
}
.game-board li{
	list-style: none;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	display: inline-block;
}
.choices{
	padding: 0px;
	text-align: center;
	margin-top: 5%;
}
.game-board_player1{
	text-align: center;
}
.start-game-panel{
	height: 100%;
	background-color: #F0FAFF;
	position: absolute;
	z-index: 999;
	width: 100%;
}
.score{
	text-align: center;
	display: none;
}
.score-board{
	min-height: 176px;
	position: relative;
	display: inline-table;
	width: 100%;
}
.game-title,
.header-computer{
	display: none;
	vertical-align: middle;
	position: relative;
	text-align: center;
}
.result{
	text-align: center;
}
.game-board_player2{
	text-align: center;
}
.countdown{
	text-align: center;
	border: 3px solid;
	border-radius: 85px;
	width: 170px;
	height: 112px;
	text-align: center;
	vertical-align: middle;
	padding-top: 58px;
	margin-top: 21px;
	margin:auto;
	display: none;
}
.result-board{
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 50%;
	font-size: 2.3em;
}
.player-two-title,
.player-one-title{
	text-align: center;
	font-size: 1.5em;
}
.player-two-selection,
.player-one-selection{
	text-align: center;
	font-size: 1.5em;
	min-height: 50px;
	margin-bottom: 10px;
}
@media (min-width: 600px) {
	.game-title,
	.header-computer{
		margin-top: 150px;
	}
}
/*** starting game board (Game Mode selection - welcome screen) ***/
.start-game{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -112px;
}
.start-game{
	display: none;
}
.choose-game{
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	height: 50%;
}
@media (max-width: 600px) {
	.choose-game{
		top: -154px;
	}
}
.game-mode{
	margin-top: 40px;
}