<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="./js/winController.js">
  
</file>



<file name="./js/Game.js">
  
</file>



<file name="./js/helpers.js">
  
</file>



<file name="./js/config.js">
  
</file>



<file name="./js/ComputerPlayer.js">
  
</file>



<file name="./js/Player.js">
  
</file>



</checkstyle>
